body{
    margin: 0px;
    text-align: center;
    background:  #2c3e50;
}
#all{
	display: inline-block;
}
h1{
    position: relative;
    display: inline-block;
    padding: 5px;
    color: whitesmoke;
    border: 7px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #ee9ca7,#ffdde1 );
}
#control{
	position: relative;
	margin: auto;
    width: 500px;
    height: 23px;
}
#send{
    float: right;
  border-radius: 4px;
  background-color: #330055;
  border: 3px solid purple;
  color: #FFFFFF;
  font-size: 23px;
  transition: all 0.5s;
  cursor: pointer;
}
#send:hover {
  background-color: transparent; /* Green */
  color: grey;
}
#clear{ 
	margin-left: 30px;
    float: right;
  border-radius: 4px;
  background-color: #885500;
  border: 3px solid orange;
  color: #FFFFFF;
  font-size: 23px;
  transition: all 0.5s;
  cursor: pointer;
}
#clear:hover {
  background-color: transparent; /* Green */
  color: grey;
}


#code{
	font-family: Helvetica;
    position: relative;
    height: 40em;
    width: 500px;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left , white , black)  ;
    margin: auto;
    overflow-y: scroll;  
    color: black;  
    padding: 6px;
    padding-right: 20px;
    
}
